<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>

    <form action="/piglatinize" method="post">
      <label for="user_phrase">Enter your phrase: <input type="text" name="user_phrase"></label><br>
      <input type="submit" id="submit" value="Submit">

    </form>
  </body>
</html>
